TELEGRAM_BOT_TOKEN="6707537751:AAHs-U9vHvmxDu6iyQSGuec9SWFIeMvbg2A"
TELEGRAM_CHAT_ID="-1003839994672"
DATABASE_URL=""
ADMIN_PASSWORD="Aa123456"
VITE_CF_WORKER_URL="https://cloudx-blus.mhmdbasht588.workers.dev"
